<div class="w-80">
    <div class="row">
        <div class="col-md-3 col-xl-2  text-center">
            <div class="user-detail">
                <div class="avatar">
                    <img src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg"
                        alt="">
                </div>
                <div class="detail">
                    <p>Shang <i class="fas fa-user-edit"></i></p>
                </div>
                <div class="log-out">
                    <button class="btn btn-danger">Đăng xuất</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-8 ">
            <div class="news-feed">
                
            </div>
        </div>
        <div class="col-md-3 col-xl-2 text-center">
            <div class="tags"> Chose one tag :
                <p><a href="#">#tag</a></p>
                <p><a href="#">#AOE</a></p>
                <p><a href="#">#Lên 4 trâu ngựa dò</a></p>
                <p><a href="#">#VaoGreekđánhcung</a></p>
            </div>
        </div>
    </div>
</div>